@thim_infor_tel: ;
@thim_social_google: ;
@thim_social_facebook: sdsd;
@thim_social_viber: ;
@thim_social_skype: ;
@thim_social_zalo: ;
@thim_header_bg_color: ;
@thim_header_text_color: ;
@thim_header_link_hover_color: ;
@thim_header_font_size: ;
@thim_header_font_weight: ;
@thim_header_menu_bg_color: ;
@thim_header_menu_text_color: ;
@thim_header_menu_link_hover_color: ;
@thim_header_menu_font_size: ;
@thim_header_menu_font_weight: ;
@thim_header_sticky_bg_color: ;
@thim_header_sticky_text_color: ;
@thim_header_sticky_link_hover_color: ;
@thim_header_sticky_font_size: ;
@thim_header_sticky_font_weight: ;
@thim_header_mobilemenu_bg_color: ;
@thim_header_mobilemenu_text_color: ;
@thim_header_mobilemenu_link_hover_color: ;
@thim_header_mobilemenu_font_size: ;
@thim_header_mobilemenu_font_weight: ;
@thim_header_mobilemenu_line_color: ;
@thim_header_toolbar_bg_color: ;
@thim_header_toolbar_text_color: ;
@thim_header_toolbar_a_color: ;
@thim_header_toolbar_a_hover_color: ;
@thim_header_submenu_bg_color: ;
@thim_header_submenu_text_color: ;
@thim_header_submenu_link_hover_color: ;
@thim_header_submenu_font_size: ;
@thim_header_submenu_font_weight: ;
@thim_header_line_color: ;
@thim_font_title: ;
@thim_font_h1: ;
@thim_font_h2: ;
@thim_font_h3: ;
@thim_font_h4: ;
@thim_font_h5: ;
@thim_font_h6: ;
@thim_footer_text_color: ;
@thim_footer_bg_color: ;
@thim_header_sidebar_width: ;
@thim_footer_link_color: ;
@thim_footer_font_size: ;
@thim_footer_font_weight: ;
