/* Css Content Table
0. Global
1. Slider
2. Nav
3. Workflow
4. Who use
5. Printshop Benefits
6. Screenshot
7. Package
8. Support Option
9. Videos
10. FAQ - Customize Request & Contact Us
11. Feedback
12. Case Study
13. Change Log
14. Responsive
*/
/* 0. Global */
@font-face {
  font-family: 'porto';
  src: url("../fonts/porto.eot?23364375");
  src: url("../fonts/porto.eot?23364375#iefix") format("embedded-opentype"), url("../fonts/porto.woff2?23364375") format("woff2"), url("../fonts/porto.woff?23364375") format("woff"), url("../fonts/porto.ttf?23364375") format("truetype"), url("../fonts/porto.svg?23364375#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'porto';
    src: url("../fonts/porto.svg?23364375#fontello") format("svg"); } }
body {
  font: 13px/1 'Open Sans',Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #777; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "porto";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-shipped:before {
  content: '\e87a'; }

.icon-us-dollar:before {
  content: '\e879'; }

.icon-online-support:before {
  content: '\e877'; }

img {
  max-width: 100%; }

a {
  color: #08c;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

a:hover, a:focus {
  color: #0083c4; }

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1d2127; }

.bg-parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

html .text-color-primary {
  color: #08c !important; }

html .text-color-dark {
  color: #2e353e !important; }

.m-b-none {
  margin-bottom: 0 !important; }

.small, small {
  font-size: 85%; }

.widget_heading {
  margin-bottom: 0 !important; }

.price {
  color: #444;
  line-height: 1;
  font-weight: 600;
  font-size: 2.5714em; }

.widget_siteorigin-panels-builder {
  margin-bottom: 10px !important; }

#content {
  margin-top: 20px; }

input.input-text, select, textarea, #commentform input, #commentform textarea {
  background: #fff;
  border: 1px solid #ccc;
  padding: 2px 8px;
  height: 26px;
  color: #777;
  font-size: 13px;
  border-radius: 3px; }

* {
  outline: none !important; }

.button:hover, .button:focus {
  border-color: #0077b3;
  background-color: #0077b3; }

.heading__primary {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: 700;
  color: #777;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  position: relative; }
  .heading__primary .line {
    display: block;
    width: 585px;
    height: 1px;
    content: "";
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 70%, transparent 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 70%, transparent 100%);
    position: relative;
    bottom: 0.7em; }

.share-links {
  margin: 20px 0 0; }
  .share-links li {
    display: inline-block; }
  .share-links a {
    font-size: 14px;
    color: #fff;
    text-indent: -9999em;
    text-align: center;
    width: 2.2857em;
    height: 2.2857em;
    display: inline-block;
    margin: 0.2857em 0.5714em 0.2857em 0;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .share-links a:before {
      font-family: "FontAwesome";
      text-indent: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 23px;
      height: 22px;
      margin: auto; }
    .share-links a.share-facebook {
      background: #3b5a9a; }
      .share-links a.share-facebook:before {
        content: "\f09a"; }
      .share-links a.share-facebook:hover {
        color: #fff;
        background: #4d71bb; }
    .share-links a.share-twitter {
      background: #1aa9e1; }
      .share-links a.share-twitter:before {
        content: "\f099"; }
      .share-links a.share-twitter:hover {
        color: #fff;
        background: #45bbe9; }
    .share-links a.share-linkedin {
      background: #0073b2; }
      .share-links a.share-linkedin:before {
        content: "\f0e1"; }
      .share-links a.share-linkedin:hover {
        color: #fff;
        background: #0094e5; }
    .share-links a.share-googleplus {
      background: #dd4b39; }
      .share-links a.share-googleplus:before {
        content: "\f0d5"; }
      .share-links a.share-googleplus:hover {
        color: #fff;
        background: #e47365; }
    .share-links a.share-email {
      background: #dd4b39; }
      .share-links a.share-email:before {
        content: "\f0e0"; }
      .share-links a.share-email:hover {
        color: #fff;
        background: #e47365; }
    .share-links a.share-pinterest {
      background: #bd081c; }
      .share-links a.share-pinterest:before {
        content: "\f0d2"; }
      .share-links a.share-pinterest:hover {
        color: #fff;
        background: #c3081d; }

.woocommerce a.button {
  height: 42px;
  line-height: 42px;
  margin-left: 8px;
  padding: 0 2.1429em !important;
  text-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #08c;
  border-color: #08c;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }

.woocommerce-message {
  border-top-color: #08c;
  background-color: #F4F4F4; }

.product-desc {
  text-align: left; }

/* advanced review */
a.review-inappropriate {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 10px; }

.hide-rating {
  display: none; }

a.comment-reply-link.button {
  display: inline-block;
  margin-right: 5px; }

a.review-inappropriate {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 0; }

.entry-content div.review-inappropriate {
  padding: 10px 0;
  float: right; }

.entry-content div.review-inappropriate {
  font-size: small; }

.entry-content div.review-inappropriate a.review-inappropriate {
  color: red;
  border: none; }

.entry-content div.review-inappropriate span.review-inappropriate.reported {
  color: green; }

div.reply {
  font-size: 14px; }

img.ywar_thumbnail {
  float: left !important;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  margin-left: 5px; }

div.horizontalRule {
  min-height: 1px;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
  display: inline-block;
  border-top: 1px solid #EFEFEF; }

.review_title {
  display: block;
  padding-bottom: 10px;
  font-weight: bold; }

.ywar_votereview {
  border: 1px solid #CCC;
  display: inline-block;
  height: 28px;
  text-indent: 100%;
  white-space: nowrap;
  width: 36px; }

/*  upvote section */
#tab-reviews .ywar_votereview.yes {
  background-position: -44px -46px !important; }

#tab-reviews a.ywar_votereview.yes:hover {
  background-position: -44px 5px !important; }

#tab-reviews .ywar_votereview.yes.vote_selected {
  background-position: 8px -46px !important;
  border-color: #028439; }

#tab-reviews .ywar_votereview.yes.vote_selected:hover {
  background-position: 8px -46px !important;
  border-color: #0B6631; }

/*  downvote section */
#tab-reviews .ywar_votereview.not {
  background-position: -93px -47px !important; }

#tab-reviews a.ywar_votereview.not:hover {
  background-position: -95px 5px !important; }

#tab-reviews .ywar_votereview.not.vote_selected {
  background-position: 10px 7px !important;
  border-color: #bd0000; }

#tab-reviews .ywar_votereview.not.vote_selected:hover {
  background-position: 10px 7px !important;
  border-color: #8E0505; }

#tab-reviews .ywar_votereview {
  border: 1px solid #bdbdbd;
  margin-left: 5px; }

#tab-reviews a.ywar_votereview:hover {
  text-decoration: none;
  border-color: #6f6f6f; }

span.review-rating-value {
  display: block;
  padding-bottom: 15px;
  padding-top: 15px; }

#tab-reviews .review_vote a {
  text-decoration: none !important; }

#reviews_header {
  padding-top: 20px; }

div.review_vote {
  text-align: right;
  padding-top: 10px;
  overflow: hidden; }

#tab-reviews a.ywar_filter_reviews {
  text-decoration: none; }

.wpnetbase_review_row span {
  height: 21px;
  line-height: 21px;
  display: block; }

.wpnetbase_perc_value {
  position: absolute;
  right: 0px;
  left: 0px;
  text-align: center;
  font-size: 12px;
  opacity: 0.6; }

.wpnetbase_review_row {
  padding-bottom: 10px;
  position: relative; }

.wpnetbase_rating_bar {
  float: none;
  overflow: hidden; }

.wpnetbase_stars_value {
  float: left;
  line-height: 15px;
  min-width: 80px; }

.ywar_review_count {
  color: #24890d; }

.wpnetbase_num_reviews {
  float: right;
  line-height: 15px;
  min-width: 50px;
  padding-left: 10px; }

#tab-reviews span.wpnetbase_stars_value a {
  text-decoration: none; }

span.wpnetbase_scala_rating {
  clear: both;
  position: relative; }

span.wpnetbase_perc_rating {
  float: left;
  color: #000000; }

ul#uploadFileList {
  padding: 0; }

ul#uploadFileList li {
  display: inline;
  padding: 10px; }

span.ywar_review_helpful {
  font-style: italic;
  font-size: smaller;
  display: block;
  padding-bottom: 5px;
  margin-top: 12px;
  font-size: 12px;
  opacity: 0.6; }

#reviews_order {
  margin-bottom: 20px;
  border-bottom: 2px solid;
  border-bottom: 2px solid rgba(234, 231, 231, 0.94); }

#tab-reviews a.ywar_filter_order {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  padding: 10px 30px;
  display: inline-block;
  opacity: 0.5;
  position: relative;
  top: 2px;
  border: none; }

#tab-reviews a.ywar_filter_order.active, #tab-reviews a.ywar_filter_order:hover {
  border-bottom: 2px solid #a9709d;
  position: relative;
  opacity: 1; }

div.ywar_show_more {
  text-align: center; }

nav.woocommerce-pagination {
  text-align: center; }

#tab-reviews div.comment-text a.comment-reply-link:before {
  content: ''; }

#tab-reviews #reviews_dialog {
  display: none; }

div.reply {
  padding: 10px 0;
  float: right; }

#tab-reviews a.ywar_show_more {
  border: none; }

#review_form_wrapper {
  margin-top: 35px; }

#ywar-uploadFile {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0; }

#do_uploadFile {
  background: #f7f6f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#e0dadf));
  background: -webkit-linear-gradient(#f7f6f7, #e0dadf);
  background: -moz-linear-gradient(center top, #f7f6f7 0, #e0dadf 100%);
  background: -moz-gradient(center top, #f7f6f7 0, #e0dadf 100%);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #c8bfc6;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  color: #5e5e5e !important;
  width: 100%; }

#submit, #do_uploadFile {
  font-size: 12px !important; }

/*  Prettyphoto modal window showing reviews */
#comments div.pp_woocommerce .pp_content_container {
  border-radius: 0; }

#comments div.pp_woocommerce .pp_close {
  color: #6d6c6c !important;
  background: none !important;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  text-decoration: none;
  /*reset prettyphoto style*/
  border-radius: 0;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  z-index: 9999; }

#comments div.pp_woocommerce .pp_close:before {
  top: 0;
  left: 0;
  text-align: center;
  text-indent: 0;
  content: "x";
  border: 1px solid;
  width: 20px !important;
  height: 20px !important;
  line-height: normal;
  font-weight: normal;
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-shadow: none; }

#comments div.pp_pic_holder.pp_woocommerce {
  position: fixed;
  left: 15% !important;
  right: 15% !important;
  top: 10% !important;
  overflow-y: auto;
  overflow-x: hidden;
  width: auto !important;
  max-width: 900px;
  border: 0;
  -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  max-height: 80%; }

#comments div.pp_content_container {
  padding: 40px 0; }

#comments div.pp_content {
  height: 100% !important;
  width: auto !important;
  margin-top: 20px; }

#tab-reviews a {
  text-decoration: none; }

#temp_review_form_wrapper {
  visibility: hidden; }

#commentsdiv a.comment-reply-link {
  display: none; }

#commentsdiv .review_vote * {
  display: none; }

#commentsdiv .review_vote span.ywar_review_helpful {
  display: inline-block; }

/*  Featured reviews */
.woocommerce #reviews #comments ol.commentlist li .comment-text.review-featured {
  border: 2px solid #ffa500; }

img.featured-badge {
  position: relative;
  top: -30px;
  left: 0px; }

.wpnetbase_perc_rating {
  background-color: #25bce9; }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #08c; }

#coupon_code {
  height: 31px;
  width: 55%; }

.hamburger {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  display: inline-block;
  height: 24px;
  position: relative;
  top: 2px;
  width: 40px; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }

.hamburger--slider-r .hamburger-inner::after {
  top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg); }

img {
  max-width: 100%; }

#tab-description h2,
.textwidget h2 {
  clear: both;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 25px; }
#tab-description h3,
.textwidget h3 {
  clear: both;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px; }
#tab-description .panel-grid,
.textwidget .panel-grid {
  margin-bottom: 0; }
#tab-description img,
.textwidget img {
  margin: 0 auto;
  display: block; }
#tab-description ul,
.textwidget ul {
  margin: 0 0 15px 35px;
  padding: 0; }
#tab-description figure,
.textwidget figure {
  width: auto !important; }
  #tab-description figure.aligncenter,
  .textwidget figure.aligncenter {
    margin: 16px auto;
    text-align: center;
    border: 1px solid #fff; }
  #tab-description figure.alignleft,
  .textwidget figure.alignleft {
    text-align: left; }
  #tab-description figure img,
  .textwidget figure img {
    display: inline-block;
    margin: 0;
    width: auto; }
  #tab-description figure .wp-caption-text,
  .textwidget figure .wp-caption-text {
    padding: 5px 0; }

.plugin-faq h2 {
  margin-bottom: 10px; }

/* 1. Header */
/*2. Header */
#masthead .header-left {
  text-align: left; }
#masthead .header-right {
  text-align: right; }
#masthead .header-top {
  border-bottom: 1px solid #ededed;
  background: #f4f4f4; }
  #masthead .header-top .container {
    position: relative;
    display: table; }
    #masthead .header-top .container > div {
      display: table-cell;
      position: relative;
      vertical-align: middle; }
      #masthead .header-top .container > div .pull-left,
      #masthead .header-top .container > div .pull-right {
        margin: 12px 0;
        font-size: 1em; }
#masthead .header-main .container {
  position: relative;
  display: table; }
  #masthead .header-main .container > div {
    display: table-cell;
    position: relative;
    vertical-align: middle; }
  #masthead .header-main .container .header-left {
    padding: 20px 0; }
  #masthead .header-main .container .header-right {
    padding: 20px 0; }
    #masthead .header-main .container .header-right .header-contact {
      margin: 5px 0;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap; }
      #masthead .header-main .container .header-right .header-contact * {
        color: #999; }
      #masthead .header-main .container .header-right .header-contact i {
        margin: 0 5px; }
      #masthead .header-main .container .header-right .header-contact .header-extra-info {
        list-style: none;
        margin: 0; }
        #masthead .header-main .container .header-right .header-contact .header-extra-info:before, #masthead .header-main .container .header-right .header-contact .header-extra-info:after {
          content: " ";
          display: table; }
        #masthead .header-main .container .header-right .header-contact .header-extra-info li {
          text-align: left;
          float: left;
          margin-left: 60px; }
          #masthead .header-main .container .header-right .header-contact .header-extra-info li .feature-box .feature-box-icon {
            border-radius: 35px;
            color: #fff;
            display: inline-block;
            float: left;
            margin-right: 10px;
            height: 35px;
            position: relative;
            text-align: center;
            top: 5px;
            width: 35px;
            background-color: #08c;
            border: 1px solid #08c;
            background: transparent;
            line-height: 32px; }
          #masthead .header-main .container .header-right .header-contact .header-extra-info li .feature-box .feature-box-info {
            padding-left: 50px; }
      #masthead .header-main .container .header-right .header-contact p {
        margin-bottom: 0; }
#masthead .header-main .logo {
  margin: 0;
  padding: 0;
  min-width: 100px; }
  #masthead .header-main .logo img {
    display: inline-block;
    color: transparent;
    max-width: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
#masthead .header-main .logo-transition img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
#masthead .main-menu-wrap {
  background-color: #08c;
  padding: 8px 0px 8px 0px; }
  #masthead .main-menu-wrap #main-menu {
    display: table;
    position: relative; }
    #masthead .main-menu-wrap #main-menu .mega-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: transparent; }
      #masthead .main-menu-wrap #main-menu .mega-menu:before, #masthead .main-menu-wrap #main-menu .mega-menu:after {
        content: " ";
        display: table; }
      #masthead .main-menu-wrap #main-menu .mega-menu:after {
        clear: both; }
      #masthead .main-menu-wrap #main-menu .mega-menu li.menu-item {
        display: block;
        position: relative;
        margin: 0; }
      #masthead .main-menu-wrap #main-menu .mega-menu > li.menu-item {
        float: left;
        margin-right: 2px; }
        #masthead .main-menu-wrap #main-menu .mega-menu > li.menu-item.menu-item-has-children {
          position: relative; }
        #masthead .main-menu-wrap #main-menu .mega-menu > li.menu-item > a {
          display: inline-block;
          padding: 11px 13px 9px 13px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 700;
          line-height: 20px;
          color: #fff; }
        #masthead .main-menu-wrap #main-menu .mega-menu > li.menu-item.active > a {
          background: #fff;
          color: #08c; }
        #masthead .main-menu-wrap #main-menu .mega-menu > li.menu-item:hover a {
          background: #fff;
          color: #08c; }
      #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children > a:after {
        display: inline-block;
        content: "\f0d7";
        font-family: "FontAwesome";
        font-weight: normal;
        font-size: 0.8333em;
        margin: 0 0 0 5px;
        line-height: 1; }
      #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children .sub-menu {
        display: none;
        margin: 0;
        min-width: 180px;
        padding: 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        border-top: 0 solid #ccc;
        z-index: 10;
        position: absolute;
        top: -2000px;
        background-color: #fff;
        -webkit-transition: transform 0.2s ease-out;
        -moz-transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        -webkit-transform: translate3d(0, -5px, 0);
        -moz-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        -o-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0); }
        #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children .sub-menu li a {
          display: block;
          border-bottom: 1px solid #f2f2f2;
          color: #777;
          font-weight: 400;
          padding: 8px;
          font-size: 1.02em;
          line-height: 18px;
          white-space: nowrap;
          webkit-transition: transform 0.2s ease-out;
          -moz-transition: transform 0.2s ease-out;
          transition: transform 0.2s ease-out;
          -webkit-transform: translate3d(0, -5px, 0);
          -moz-transform: translate3d(0, -5px, 0);
          -ms-transform: translate3d(0, -5px, 0);
          -o-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0); }
          #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children .sub-menu li a:hover {
            color: #777;
            background-color: #f4f4f4;
            text-decoration: none; }
        #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children .sub-menu li:last-child a {
          border-bottom: 0; }
      #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children:hover .sub-menu {
        display: block;
        top: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
        #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children:hover .sub-menu li a {
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  #masthead .main-menu-wrap .menu-left,
  #masthead .main-menu-wrap .menu-right,
  #masthead .main-menu-wrap .menu-center {
    display: table-cell;
    vertical-align: middle; }

@media (min-width: 1200px) {
  .container {
    width: 1100px; } }
/* End: Header */
/* 2. Widgets */
.widget.widget_category {
  margin-bottom: 25px !important; }
.widget .widget-wrap {
  border: 1px solid #ddd;
  border-radius: 3px; }
.widget h3.widget-title {
  margin: 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  color: #777;
  font-size: 18px;
  padding: 11px 15px 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  font-weight: 700; }
  .widget h3.widget-title.no-box {
    background: transparent;
    border-bottom: 0;
    padding-left: 0;
    line-height: 1.4;
    font-weight: 700;
    color: #313131;
    text-transform: uppercase;
    padding: 0; }
.widget .product-categories {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fbfbfb; }
  .widget .product-categories li {
    line-height: 40px !important;
    border-top: 0;
    border-bottom: 1px solid #f1f1f1; }
    .widget .product-categories li a {
      position: relative;
      display: block;
      color: #444;
      font-size: 1.05em;
      font-weight: 300;
      padding-left: 15px;
      padding-right: 5px;
      text-transform: capitalize; }
      .widget .product-categories li a:hover {
        color: #08c;
        text-decoration: none; }
    .widget .product-categories li .bh-minus-menu {
      padding: 10px 15px;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 999; }
    .widget .product-categories li .sub-menu {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none; }
      .widget .product-categories li .sub-menu li {
        border-top: 0; }
        .widget .product-categories li .sub-menu li:last-child {
          border-bottom: 0; }
        .widget .product-categories li .sub-menu li a {
          padding-left: 25px; }
  .widget .product-categories .open > a {
    color: #08c; }
  .widget .product-categories .open .bh-minus-menu:before {
    content: "\f068"; }
.widget .bh-widget-heading .heading__primary i {
  margin-right: 5px; }
.widget .bh-widget-heading .heading__primary a {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999; }
.widget .bh-widget-posts ul {
  margin: 3px 0 0 0;
  padding: 0;
  list-style: none; }
  .widget .bh-widget-posts ul li {
    padding: 9px 0;
    border-bottom: 1px solid #f2f2f2;
    line-height: 18px;
    overflow: hidden; }
    .widget .bh-widget-posts ul li .post-thumbnail {
      float: left;
      margin-right: 10px;
      position: relative;
      line-height: 0;
      opacity: 1;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .widget .bh-widget-posts ul li .post-thumbnail a {
        display: block;
        background: #000;
        font-size: 0; }
        .widget .bh-widget-posts ul li .post-thumbnail a img {
          height: auto;
          max-width: 100%;
          width: 100%;
          opacity: 1;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
      .widget .bh-widget-posts ul li .post-thumbnail .overlay-icon:before {
        content: '\f15c';
        color: #FFF;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 3px solid #FFF;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 35px;
        margin: -20px 0 0 -20px;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .widget .bh-widget-posts ul li .post-thumbnail:hover .overlay-icon:before {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
      .widget .bh-widget-posts ul li .post-thumbnail:hover img {
        opacity: 0.3 !important; }
    .widget .bh-widget-posts ul li h3 {
      font-size: inherit;
      line-height: 19px; }
      .widget .bh-widget-posts ul li h3 a {
        color: #777;
        text-decoration: none; }
        .widget .bh-widget-posts ul li h3 a:hover {
          color: #08c; }
    .widget .bh-widget-posts ul li span.tie-date,
    .widget .bh-widget-posts ul li span.post-comments-widget {
      color: #AAA;
      margin: 4px 0 0;
      font-size: 80%;
      display: inline-block; }
      .widget .bh-widget-posts ul li span.tie-date i,
      .widget .bh-widget-posts ul li span.post-comments-widget i {
        margin-right: 5px; }
      .widget .bh-widget-posts ul li span.tie-date a,
      .widget .bh-widget-posts ul li span.post-comments-widget a {
        color: #777;
        text-decoration: none; }
    .widget .bh-widget-posts ul li span.tie-date {
      margin-right: 10px; }
    .widget .bh-widget-posts ul li:last-child {
      border-bottom: 0; }
.widget .widget_products-sidebar {
  margin-bottom: 16px !important; }
.widget .bh-widget-products-sidebar .product-list {
  margin-top: 3px; }
  .widget .bh-widget-products-sidebar .product-list li {
    float: none;
    width: 100%;
    text-align: left;
    padding: 9px 0;
    border-bottom: 1px solid #f2f2f2; }
    .widget .bh-widget-products-sidebar .product-list li .product-image {
      float: left;
      width: 30%;
      margin-bottom: 0;
      margin-right: 10px; }
    .widget .bh-widget-products-sidebar .product-list li .rating-line,
    .widget .bh-widget-products-sidebar .product-list li .rating-before,
    .widget .bh-widget-products-sidebar .product-list li .rating-after,
    .widget .bh-widget-products-sidebar .product-list li .add-links-wrap {
      display: none; }
    .widget .bh-widget-products-sidebar .product-list li .rating-wrap {
      display: block; }
    .widget .bh-widget-products-sidebar .product-list li:last-child {
      border-bottom: 0; }
    .widget .bh-widget-products-sidebar .product-list li .price {
      color: #444;
      margin-top: 0px !important;
      padding-top: 6px;
      font-weight: 500;
      font-size: 16px; }
.widget .widget-product-lists .price span {
  font-size: 15px;
  color: #444; }

.custom-block {
  margin-bottom: 30px; }
  .custom-block > div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0; }
    .custom-block > div i {
      float: left;
      width: 50px;
      height: 50px;
      line-height: 48px;
      border-radius: 50%;
      text-align: center;
      margin-right: 10px;
      color: #0088cc;
      border: none;
      font-size: 40px; }
    .custom-block > div h3 {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #6b7a83;
      margin-left: 80px; }

#bh-sidebar-single .widget {
  margin-bottom: 15px; }

/* 3. Products */
.product-list {
  margin: 0 -7px;
  padding: 0;
  list-style: none; }
  .product-list:not(.widget-product-lists) li {
    margin-bottom: 30px; }
  .product-list li {
    position: relative;
    float: left;
    width: 25%;
    padding: 0 7px;
    text-align: center; }
    .product-list li .product-image {
      display: block;
      position: relative;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 7px;
      width: 100%;
      padding: 0.2381em;
      margin-bottom: 1em; }
      .product-list li .product-image .labels {
        line-height: 1;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase; }
        .product-list li .product-image .labels .onhot, .product-list li .product-image .labels .onsale {
          position: absolute;
          z-index: 1;
          top: 0.8em;
          border-radius: 4px;
          font-size: 0.8571em;
          padding: 0.5833em 0.6333em; }
        .product-list li .product-image .labels .onhot {
          background: #62b959;
          color: #fff;
          left: 0.8em; }
        .product-list li .product-image .labels .onsale {
          background: #e27c7c;
          color: #fff;
          right: 0.8em; }
      .product-list li .product-image img {
        border-radius: 5px;
        display: inline-block;
        width: 100%;
        height: auto; }
      .product-list li .product-image:before {
        content: '';
        position: absolute;
        top: 0.2381em;
        left: 0.2381em;
        right: 0.2381em;
        bottom: 0.2381em;
        z-index: 2;
        background: rgba(0, 0, 0, 0.15);
        -webkit-transition: all .3s;
        -khtml-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0; }
    .product-list li .product-loop-title {
      color: #777;
      font-size: 1em;
      text-decoration: none; }
      .product-list li .product-loop-title h3 {
        font-family: Open Sans;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.35;
        margin-bottom: 0.7143em; }
    .product-list li .rating-wrap {
      margin: 0 auto 1.2em;
      height: 1px;
      position: relative;
      display: table; }
      .product-list li .rating-wrap .rating-before,
      .product-list li .rating-wrap .rating-after {
        display: table-cell;
        width: 50%;
        height: 1px;
        vertical-align: middle; }
        .product-list li .rating-wrap .rating-before .rating-line,
        .product-list li .rating-wrap .rating-after .rating-line {
          background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
          display: block;
          height: 1px;
          width: 100%;
          margin-top: 1px; }
      .product-list li .rating-wrap .rating-after .rating-line {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent); }
      .product-list li .rating-wrap .rating-content {
        display: table-cell; }
      .product-list li .rating-wrap .star-rating {
        cursor: pointer;
        float: none;
        position: relative;
        font-family: 'FontAwesome';
        font-size: 1em;
        height: 1em;
        line-height: 1em;
        overflow: hidden;
        position: relative;
        width: 5.5em;
        letter-spacing: 0.1em;
        text-align: left; }
        .product-list li .rating-wrap .star-rating span {
          float: left;
          left: 0;
          overflow: hidden;
          padding-top: 1.5em;
          position: absolute;
          top: 0; }
          .product-list li .rating-wrap .star-rating span:before {
            color: #ffc600;
            content: "\f005" "\f005" "\f005" "\f005" "\f005";
            left: 3px;
            position: absolute;
            top: 0; }
        .product-list li .rating-wrap .star-rating .star-rating,
        .product-list li .rating-wrap .star-rating .star-rating span {
          width: 6.7em;
          margin-right: -2px; }
        .product-list li .rating-wrap .star-rating:before {
          color: #ddd;
          color: rgba(0, 0, 0, 0.13);
          content: "\f005" "\f005" "\f005" "\f005" "\f005";
          float: left;
          left: 3px;
          position: absolute;
          top: 0; }
    .product-list li .price {
      display: block;
      font-size: 20px;
      margin-top: -0.25em;
      margin-bottom: 0.75em; }
    .product-list li .add-links-wrap .add-links {
      display: inline-block;
      position: relative;
      font-size: 0.95em;
      margin-bottom: 5px; }
      .product-list li .add-links-wrap .add-links .add_to_cart_button,
      .product-list li .add-links-wrap .add-links .yith-wcwl-add-to-wishlist a,
      .product-list li .add-links-wrap .add-links .yith-wcwl-add-to-wishlist span,
      .product-list li .add-links-wrap .add-links .quickview {
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: inherit;
        height: 2.2em;
        line-height: 2.2em;
        text-decoration: none;
        text-align: center;
        vertical-align: top;
        border-radius: 3px !important;
        text-shadow: none;
        -webkit-transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        transition: all 0.25s ease 0s; }
        .product-list li .add-links-wrap .add-links .add_to_cart_button:before,
        .product-list li .add-links-wrap .add-links .yith-wcwl-add-to-wishlist a:before,
        .product-list li .add-links-wrap .add-links .yith-wcwl-add-to-wishlist span:before,
        .product-list li .add-links-wrap .add-links .quickview:before {
          display: inline-block;
          font-family: "FontAwesome"; }
      .product-list li .add-links-wrap .add-links .add_to_cart_button {
        background: transparent;
        border-radius: 5px;
        padding: 0 0.7143em;
        line-height: 2.0571em;
        z-index: 1;
        border: 1px solid #ccc;
        color: #333;
        white-space: nowrap;
        text-shadow: none; }
        .product-list li .add-links-wrap .add-links .add_to_cart_button:before {
          content: "\f07a";
          margin-right: 0.5714em; }
        .product-list li .add-links-wrap .add-links .add_to_cart_button span {
          font-weight: 300; }
    .product-list li:hover .add_to_cart_button {
      background-color: #08c !important;
      border-color: #08c !important;
      color: #fff !important; }
    .product-list li:hover .product-image:before {
      filter: alpha(opacity=100);
      -ms-filter: "alpha(opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }
  .product-list:after {
    display: block;
    content: "";
    clear: both; }

/* 4. Breadcrumb */
.breadcrumbs-wrap {
  background-color: #F4F4F4;
  padding: 10px 0; }
  .breadcrumbs-wrap ol {
    margin: 0;
    padding: 0;
    list-style: none; }
    .breadcrumbs-wrap ol li {
      padding: 0 5px;
      display: inline-block;
      color: #777; }
      .breadcrumbs-wrap ol li a {
        color: #777; }
      .breadcrumbs-wrap ol li:first-child {
        padding-left: 0; }

/* 5. Single Product */
.woocommerce h1.product_title {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #21293c;
  margin: 0 0 15px;
  line-height: 1; }
.woocommerce .description {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 25px;
  border-bottom: solid 1px #dae2e6;
  padding: 5px 0 20px; }
  .woocommerce .description p:last-child {
    margin-bottom: 0; }
.woocommerce .woocommerce-product-rating {
  margin-bottom: 1px !important; }
  .woocommerce .woocommerce-product-rating .star-rating {
    margin-top: 5px; }
  .woocommerce .woocommerce-product-rating .woocommerce-review-link {
    line-height: 20px;
    font-size: 14px;
    color: #bdbdbd;
    position: relative;
    top: -1px; }
.woocommerce .price {
  margin: 20px 0 20px; }
  .woocommerce .price span {
    font-size: 21px;
    font-weight: 700; }
  .woocommerce .price del span {
    display: inline-block;
    color: #a7a7a7;
    font-size: 16px;
    margin-right: 0.2143em;
    vertical-align: baseline;
    text-decoration: line-through; }
  .woocommerce .price ins {
    text-decoration: none; }
.woocommerce div.product .woocommerce-tabs ul.tabs {
  position: relative;
  bottom: -1px;
  padding: 0 !important;
  margin: 0 !important; }
  .woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none !important; }
  .woocommerce div.product .woocommerce-tabs ul.tabs li {
    padding: 0;
    margin: 0;
    border: none !important;
    background: none !important;
    border-right: 0 !important;
    border-radius: 0 !important; }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      padding: 10px 0 9px;
      margin-right: 37px;
      color: #818692;
      text-transform: uppercase; }
    .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
      display: none; }
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
      color: #21293c;
      position: relative; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: #0088cc;
        left: 0;
        right: 0;
        bottom: 0; }
  .woocommerce div.product .woocommerce-tabs ul.tabs:after {
    clear: both;
    content: "";
    display: table; }
.woocommerce div.product .woocommerce-tabs .wc-tab {
  border: none;
  border-top: solid 1px #dae2e6;
  box-shadow: none;
  padding: 18px 0 !important;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 25px;
  margin: 0; }
  .woocommerce div.product .woocommerce-tabs .wc-tab > p:last-child {
    margin-bottom: 0; }
.woocommerce div.product form.cart .button {
  float: none;
  height: 42px;
  margin-left: 8px;
  padding: 0 2.1429em;
  text-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #08c;
  border-color: #08c;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
  .woocommerce div.product form.cart .button:before {
    display: inline-block;
    content: "\f07a";
    font-family: "FontAwesome";
    margin-right: 0.7143em; }
  .woocommerce div.product form.cart .button:hover, .woocommerce div.product form.cart .button:focus {
    border-color: #0077b3;
    background-color: #0077b3; }
.woocommerce .qty-holder {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 104px;
  position: relative;
  text-align: center; }
  .woocommerce .qty-holder .qty {
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #21293c;
    margin: 0;
    border-color: #dae2e6; }
  .woocommerce .qty-holder .qty-changer {
    display: block; }
    .woocommerce .qty-holder .qty-changer a {
      position: absolute;
      top: 0;
      width: 30px;
      height: 43px;
      border: solid 1px #dae2e6;
      line-height: 41px;
      font-size: 11px;
      color: #8798a2; }
      .woocommerce .qty-holder .qty-changer a.qty_inc {
        left: 1px; }
      .woocommerce .qty-holder .qty-changer a.qty_dec {
        right: 1px; }
.woocommerce #reviews_summary h3, .woocommerce #reviews h2.woocommerce-Reviews-title, .woocommerce #review_form_wrapper h3#reply-title {
  margin: 0 0 23px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }
.woocommerce #reviews_summary {
  margin-bottom: 13px; }
.woocommerce #review_form_wrapper #commentform label {
  display: block;
  font-size: 14px;
  position: relative;
  z-index: 0;
  margin: 0;
  margin-bottom: 1px;
  vertical-align: middle;
  color: #777; }
  .woocommerce #review_form_wrapper #commentform label span {
    font-style: normal;
    color: #eb340a; }
.woocommerce #review_form_wrapper #commentform input {
  width: 100%;
  height: 38px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  background-color: #fff;
  border-radius: 0; }
.woocommerce #review_form_wrapper #commentform .comment-form-rating {
  margin: 0; }
  .woocommerce #review_form_wrapper #commentform .comment-form-rating p {
    margin: 0; }
.woocommerce #review_form_wrapper #commentform .form-submit #submit {
  float: right;
  background-color: #0088cc;
  width: auto;
  border: 0;
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  line-height: 38px; }
.woocommerce #etalage .etalage_thumb:not(.etalage_small_thumbs),
.woocommerce #etalage .etalage_small_thumbs:not(.etalage_small_thumbs) {
  box-shadow: inherit;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #dae2e6;
  background: #fff;
  max-width: 100%; }
.woocommerce #etalage .etalage_small_thumbs {
  margin-top: 8px; }
  .woocommerce #etalage .etalage_small_thumbs ul > li {
    cursor: pointer; }
    .woocommerce #etalage .etalage_small_thumbs ul > li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: solid 1px #dae2e6; }
  .woocommerce #etalage .etalage_small_thumbs .etalage_smallthumb_active {
    position: relative; }
    .woocommerce #etalage .etalage_small_thumbs .etalage_smallthumb_active:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: solid 1px #0088cc; }
.woocommerce .summary {
  float: none !important;
  width: 100% !important; }
.woocommerce .bh-single-detail {
  margin-bottom: 40px; }
.woocommerce .product_meta > span {
  display: block;
  margin-bottom: 6px; }

/* 5. Taxonomy Product Cat */
/* 6. Pagination */
.pagination {
  margin-top: 25px; }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0 0 0 10px;
    clear: both;
    list-style: none; }
    .pagination ul li {
      float: left;
      margin-left: 5px;
      display: inline;
      padding: 0; }
      .pagination ul li a,
      .pagination ul li span {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        margin: 0 0 5px;
        padding: 0 0.5em;
        line-height: 27px;
        min-width: 32px;
        height: 30px;
        text-decoration: none;
        text-align: center; }
      .pagination ul li span.current,
      .pagination ul li a:hover,
      .pagination ul li span:hover {
        background-color: #08c;
        border-color: #08c;
        color: #fff; }
  .pagination.pagination-center {
    text-align: center; }
    .pagination.pagination-center ul {
      margin: 0 auto; }

/*  7. Ads */
.wads p {
  overflow: hidden; }
.wads img {
  transition: all 0.7s ease 0s; }
  .wads img:hover {
    transform: scale(1.15);
    opacity: 1; }

/*  8. Contact Us */
.wpcf7-form h1 {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  color: #1d2127;
  margin: 0 0 15px 0; }
  .wpcf7-form h1 strong {
    font-weight: 700; }
.wpcf7-form textarea.form-control {
  height: auto; }
.wpcf7-form .wpcf7-submit {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #08c;
  border-color: #08c; }
  .wpcf7-form .wpcf7-submit:hover, .wpcf7-form .wpcf7-submit:focus {
    border-color: #0077b3;
    background-color: #0077b3; }

.wcontact h3 {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #08c; }
.wcontact hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
  border: 0;
  height: 1px;
  margin: 25px auto; }
.wcontact ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .wcontact ul li {
    margin-bottom: 10px; }
    .wcontact ul li i {
      color: #ffffff;
      background: #0088cc;
      font-size: 14px;
      display: inline-block;
      margin-right: 15px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      text-align: center;
      line-height: 25px; }

/*  9. Footer */
#top-footer {
  padding: 50px 0;
  color: #999999;
  background-color: #0e0e0e; }
  #top-footer p {
    margin-bottom: 0; }
  #top-footer .logo-footer {
    display: block;
    margin-bottom: 25px; }
  #top-footer .footer-widgets h3 {
    position: relative;
    font-size: 15px;
    color: #FFF;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 45px; }
    #top-footer .footer-widgets h3:after {
      position: absolute;
      width: 30px;
      content: '';
      height: 2px;
      background: #08c;
      bottom: -20px;
      left: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      -o-transition: all .6s;
      -ms-transition: all .6s;
      transition: all .6s; }
    #top-footer .footer-widgets h3:hover:after {
      width: 80px; }
  #top-footer .footer-widgets ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #top-footer .footer-widgets ul li {
      line-height: 22px;
      margin-bottom: 10px; }
      #top-footer .footer-widgets ul li a {
        color: #fefefe; }
  #top-footer .footer-widgets .social_link li {
    display: inline-block;
    margin: 0 5px; }
    #top-footer .footer-widgets .social_link li:first-child {
      margin-left: 0; }
    #top-footer .footer-widgets .social_link li a {
      width: 32px;
      height: 32px;
      border: 2px solid;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 28px;
      font-size: 14px;
      color: #999;
      border-color: #666;
      font-weight: 400; }
      #top-footer .footer-widgets .social_link li a:hover {
        color: #08c;
        border-color: #08c; }

#bottom-footer {
  padding: 15px 0;
  color: #555;
  background-color: #060606; }
  #bottom-footer p {
    float: left;
    margin-bottom: 0; }
  #bottom-footer #menu-footer-links {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none; }
    #bottom-footer #menu-footer-links li {
      display: inline-block;
      margin: 0px 5px;
      border-left: 1px solid #d9d9d9;
      padding-left: 15px;
      line-height: 14px; }
      #bottom-footer #menu-footer-links li:first-child {
        border: 0; }
      #bottom-footer #menu-footer-links li a {
        color: #fff; }
      #bottom-footer #menu-footer-links li:last-child {
        margin-right: 0; }

.cf7-newsletter {
  margin-bottom: 25px; }
  .cf7-newsletter [type="email"] {
    webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #FFF;
    font-weight: 600;
    margin-bottom: 0;
    box-shadow: none;
    width: calc(100% - 93px);
    width: -webkit-calc(100% - 93px);
    width: -moz-calc(100% - 93px);
    background: #FFF;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px; }
  .cf7-newsletter [type="submit"] {
    border: 0;
    height: 40px;
    outline: 0;
    text-align: center;
    line-height: 40px;
    width: 93px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    float: right;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-color: #08c;
    background: #08c; }

.menu-footer {
  padding-left: 45px; }

.call-me {
  position: fixed;
  bottom: 20px;
  z-index: 999; }
  .call-me.right {
    right: 20px; }
  .call-me.left {
    left: 20px; }

/*  9. Blog */
.blog article {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 14px; }
  .blog article .btn-readmore {
    font-size: 13px;
    float: right;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #08c;
    border-color: #08c #08c #069;
    padding: 3px 13px;
    border-radius: 3px; }
    .blog article .btn-readmore:hover, .blog article .btn-readmore:focus {
      color: #fff;
      background-color: #0077b3;
      border-color: #08c #08c #005580; }

.entry-title {
  font-size: 20px;
  line-height: 25px; }

.entry-meta {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: #777; }
  .entry-meta li {
    display: inline-block;
    padding-right: 10px; }

/*  10. Checkout */
.woocommerce-checkout #payment {
  margin-bottom: 50px; }
.woocommerce-checkout .input-text {
  padding: 19px 15px;
  border-radius: 0 !important; }

.woocommerce .form-row label {
  margin-bottom: 0; }

/*  11. Checkout */
@media screen and (min-width: 992px) {
  .mobi-menu {
    display: none; } }
@media screen and (max-width: 991px) {
  .container {
    width: 95%; }

  #masthead .header-main .container > div {
    display: inherit;
    float: left; }
  #masthead .header-main .container .header-left {
    width: 30%; }
  #masthead .header-main .container .header-right {
    width: 70%; }
    #masthead .header-main .container .header-right .header-contact .header-extra-info li {
      margin-left: 0; }
      #masthead .header-main .container .header-right .header-contact .header-extra-info li:last-child {
        display: none; }
  #masthead .main-menu-wrap #main-menu .mega-menu {
    display: none; }
    #masthead .main-menu-wrap #main-menu .mega-menu li {
      float: none !important; }
      #masthead .main-menu-wrap #main-menu .mega-menu li a {
        display: block !important; }
    #masthead .main-menu-wrap #main-menu .mega-menu > li {
      border-bottom: 1px solid #ccc; }
      #masthead .main-menu-wrap #main-menu .mega-menu > li:last-child {
        border-bottom: 0; }
    #masthead .main-menu-wrap #main-menu .mega-menu > .menu-item-has-children:hover .sub-menu {
      position: static !important; }

  .col-md-9,
  .col-md-3 {
    -moz-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%; }

  .product-desc {
    height: 85px;
    overflow: hidden; } }
@media screen and (max-width: 865px) {
  .product-list:not(.widget-product-lists) li {
    width: 33.33%; }

  .wads img {
    height: auto; } }
@media screen and (max-width: 870px) {
  .wads img {
    display: block;
    height: auto;
    margin: 0 auto;
    text-align: center; } }
@media screen and (max-width: 835px) {
  .woocommerce .bh-single-detail {
    margin-bottom: 0; }
    .woocommerce .bh-single-detail .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%; }
      .woocommerce .bh-single-detail .col-md-6 .entry-summary {
        padding-top: 30px; } }
@media screen and (max-width: 777px) {
  #etalage {
    overflow: hidden;
    height: 481px !important; } }
@media screen and (max-width: 767px) {
  .menu-footer {
    padding-left: 15px; }

  .info-footer {
    padding-left: 0; }

  .menu-footer {
    padding-left: 0; }

  #footer #top-footer .col-md-4 {
    padding: 0 15px;
    margin-bottom: 30px; }
    #footer #top-footer .col-md-4:last-child {
      margin-bottom: 0; }

  .blog .blog-posts article .col-md-4 {
    margin-bottom: 15px; } }
@media screen and (max-width: 650px) {
  #masthead .header-main .container .header-left,
  #masthead .header-main .container .header-right {
    width: 100%;
    text-align: center; } }
@media screen and (max-width: 570px) {
  .product-list:not(.widget-product-lists) li {
    width: 50%; } }
@media screen and (max-width: 430px) {
  #etalage {
    width: 100% !important; } }
@media screen and (max-width: 400px) {
  .product-list:not(.widget-product-lists) li {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
