.blog{
  article {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 14px;
    .btn-readmore{
      font-size: 13px;
      float: right;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #08c;
      border-color: #08c #08c #069;
      padding: 3px 13px;
      border-radius: 3px;
      &:hover,
      &:focus{
        color: #fff;
        background-color: #0077b3;
        border-color: #08c #08c #005580
      }
    }
  }

}

.entry-title{
  font-size: 20px;
  line-height: 25px;
}
.entry-meta{
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: #777;
  li{
    display: inline-block;
    padding-right: 10px;
  }
}