.breadcrumbs-wrap{
  background-color: #F4F4F4;
  padding: 10px 0;
  ol{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      padding: 0 5px;
      display: inline-block;
      color: #777;
      a{
        color: #777;
      }
      &:first-child{
        padding-left: 0;
      }
    }
  }

}