.woocommerce-checkout{
  #payment{
    margin-bottom: 50px;
  }
  .input-text{
    padding: 19px 15px;
    border-radius: 0 !important;
  }
}
.woocommerce{
  .form-row{
    label{
      margin-bottom: 0;
    }
  }
}
