.wpcf7-form{
  h1{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    color: #1d2127;
    margin: 0 0 15px 0;
    strong{
      font-weight: 700
    }
  }
  textarea.form-control {
    height: auto;
  }
  .wpcf7-submit{
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #08c;
    border-color: #08c;
    &:hover,
    &:focus{
      border-color: #0077b3;
      background-color: #0077b3;
    }
  }
}
.wcontact{
  h3{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #08c;
  }
  hr{
    background-image: - webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
    border: 0;
    height: 1px;
    margin: 25px auto;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin-bottom: 10px;
      i{
        color: #ffffff;
        background: #0088cc;
        font-size: 14px;
        display: inline-block;
        margin-right: 15px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
      }
    }
  }
}