#top-footer{
  padding: 50px 0;
  color: #999999;
  background-color: #0e0e0e;
  p{
    margin-bottom: 0;
  }
  .logo-footer{
    display: block;
    margin-bottom: 25px;
  }
  .footer-widgets{
    h3{
      position: relative;
      font-size: 15px;
      color: #FFF;
      font-weight: 700;
      line-height: 15px;
      text-transform: uppercase;
      margin-bottom: 45px;
      &:after {
        position: absolute;
        width: 30px;
        content: '';
        height: 2px;
        background: #08c;
        bottom: -20px;
        left: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        -o-transition: all .6s;
        -ms-transition: all .6s;
        transition: all .6s;
      }
      &:hover{
        &:after{
          width: 80px;
        }
      }
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        line-height: 22px;
        margin-bottom: 10px;
        a{
          color: #fefefe;
        }

      }
    }
    .social_link{
      li{
        display: inline-block;
        margin: 0 5px;
        &:first-child{
          margin-left: 0;
        }
        a{
          width: 32px;
          height: 32px;
          border: 2px solid;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          line-height: 28px;
          font-size: 14px;
          color: #999;
          border-color: #666;
          font-weight: 400;
          &:hover{
            color: #08c;
            border-color: #08c;
          }
        }
      }
    }

  }
}
#bottom-footer{
  padding: 15px 0;
  color: #555;
  background-color: #060606;
  p{
    float: left;
    margin-bottom: 0;
  }
  #menu-footer-links{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: inline-block;
      margin: 0px 5px;
      border-left: 1px solid #d9d9d9;
      padding-left: 15px;
      line-height: 14px;
      &:first-child {
        border: 0;
      }
      a{
        color: #fff;
      }
      &:last-child{
        margin-right: 0;
      }

    }
  }
}


.cf7-newsletter{
  margin-bottom: 25px;
  [type="email"]{
    webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #FFF;
    font-weight: 600;
    margin-bottom: 0;
    box-shadow: none;
    width: calc(100% - 93px);
    width: -webkit-calc(100% - 93px);
    width: -moz-calc(100% - 93px);
    background: #FFF;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
  }
  [type="submit"]{
    border: 0;
    height: 40px;
    outline: 0;
    text-align: center;
    line-height: 40px;
    width: 93px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    float: right;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-color: #08c;
    background: #08c;
  }
}
.menu-footer{
  padding-left: 45px;
}
.call-me{
  position: fixed;
  bottom: 20px;
  z-index: 999;
  &.right{
    right: 20px;
  }
  &.left{
    left: 20px;
  }
}