@font-face {
  font-family: 'porto';
  src: url('../fonts/porto.eot?23364375');
  src: url('../fonts/porto.eot?23364375#iefix') format('embedded-opentype'),
  url('../fonts/porto.woff2?23364375') format('woff2'),
  url('../fonts/porto.woff?23364375') format('woff'),
  url('../fonts/porto.ttf?23364375') format('truetype'),
  url('../fonts/porto.svg?23364375#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'porto';
    src: url('../fonts/porto.svg?23364375#fontello') format('svg');
  }
}
body{
  font: 13px/1 'Open Sans',Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #777;
}
[class^="icon-"]:before, [class*=" icon-"]:before, %icon-porto{
  font-family: "porto";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-shipped:before {
  content: '\e87a';
}
.icon-us-dollar:before {
  content: '\e879';
}
.icon-online-support:before {
  content: '\e877';
}

img{
  max-width: 100%;
}

a {
  color: #08c;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a:hover, a:focus {
  color: #0083c4;
}
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1d2127;
}
.bg-parallax{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
html .text-color-primary {
  color: #08c !important;
}
html .text-color-dark {
  color: #2e353e !important;
}
.m-b-none {
  margin-bottom: 0 !important;
}
.small, small {
  font-size: 85%;
}
.widget_heading{
  margin-bottom: 0 !important;
}
.price{
  color: #444;
  line-height: 1;
  font-weight: 600;
  font-size: 2.5714em;
}
.widget_siteorigin-panels-builder{
  margin-bottom: 10px !important;
}
#content{
  margin-top: 20px;
}
input.input-text, select, textarea, #commentform input, #commentform textarea {
  background: #fff;
  border: 1px solid #ccc;
  padding: 2px 8px;
  height: 26px;
  color: #777;
  font-size: 13px;
  border-radius: 3px;
}
*{
  outline: none !important;
}
.button{
  &:hover,
  &:focus{
      border-color: #0077b3;
      background-color: #0077b3;
  }
}

.heading__primary {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: 700;
  color: #777;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
  .line{
    display: block;
    width: 585px;
    height: 1px;
    content: "";
    background-image: - webkit-linear-gradient(left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    bottom: 0.7em;
  }
}


.share-links{
  margin: 20px 0 0;
  li{
    display: inline-block;
  }
  a{
    font-size: 14px;
    color: #fff;
    text-indent: -9999em;
    text-align: center;
    width: 2.2857em;
    height: 2.2857em;
    display: inline-block;
    margin: 0.2857em 0.5714em 0.2857em 0;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &:before{
      font-family: "FontAwesome";
      text-indent: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 23px;
      height: 22px;
      margin: auto;
    }
    &.share-facebook {
      background: #3b5a9a;
      &:before {
        content: "\f09a";
      }
      &:hover{
        color: #fff;
        background: #4d71bb;
      }
    }
    &.share-twitter {
      background: #1aa9e1;
      &:before{
        content: "\f099";
      }
      &:hover{
        color: #fff;
        background: #45bbe9;
      }
    }
    &.share-linkedin {
      background: #0073b2;
      &:before{
        content: "\f0e1";
      }
      &:hover{
        color: #fff;
        background: #0094e5;
      }
    }
    &.share-googleplus {
      background: #dd4b39;
      &:before{
        content: "\f0d5";
      }
      &:hover{
        color: #fff;
        background: #e47365;
      }
    }
    &.share-email {
      background: #dd4b39;
      &:before{
        content: "\f0e0";
      }
      &:hover{
        color: #fff;
        background: #e47365;
      }
    }
    &.share-pinterest {
      background: #bd081c;
      &:before{
        content: "\f0d2";
      }
      &:hover{
        color: #fff;
        background: #c3081d;
      }
    }
  }
}
.woocommerce a.button{
  height: 42px;
  line-height: 42px;
  margin-left: 8px;
  padding: 0 2.1429em !important;
  text-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #08c;
  border-color: #08c;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
.woocommerce-message{
  border-top-color: #08c;
  background-color: #F4F4F4;
}
.product-desc{
  text-align: left;
}
/* advanced review */
a.review-inappropriate { display: inline-block; height: 30px; width: 30px; padding: 10px; }
.hide-rating { display: none; }
a.comment-reply-link.button { display: inline-block; margin-right: 5px; }
a.review-inappropriate { display: inline-block; margin-left: 10px; padding: 5px 0; }
.entry-content div.review-inappropriate { padding: 10px 0; float: right; }

.entry-content div.review-inappropriate { font-size: small; }
.entry-content div.review-inappropriate a.review-inappropriate { color: red; border: none; }
.entry-content div.review-inappropriate span.review-inappropriate.reported { color: green; }
div.reply { font-size: 14px; }
img.ywar_thumbnail { float: left !important; padding-top: 10px; padding-bottom: 10px; overflow: hidden; margin-left: 5px; }
div.horizontalRule { min-height: 1px; clear: both; width: 100%; border-bottom: 1px solid #EFEFEF; display: inline-block; border-top: 1px solid #EFEFEF; }
.review_title { display: block; padding-bottom: 10px; font-weight: bold; }
.ywar_votereview { border: 1px solid #CCC; display: inline-block; height: 28px; text-indent: 100%; white-space: nowrap; width: 36px; }

/*  upvote section */
#tab-reviews .ywar_votereview.yes { background-position: -44px -46px !important; }
#tab-reviews a.ywar_votereview.yes:hover { background-position: -44px 5px !important; }
#tab-reviews .ywar_votereview.yes.vote_selected { background-position: 8px -46px !important; border-color: #028439; }
#tab-reviews .ywar_votereview.yes.vote_selected:hover { background-position: 8px -46px !important; border-color: #0B6631; }

/*  downvote section */
#tab-reviews .ywar_votereview.not { background-position: -93px -47px !important; }
#tab-reviews a.ywar_votereview.not:hover { background-position: -95px 5px !important; }
#tab-reviews .ywar_votereview.not.vote_selected { background-position: 10px 7px !important; border-color: #bd0000; }
#tab-reviews .ywar_votereview.not.vote_selected:hover { background-position: 10px 7px !important; border-color: #8E0505; }
#tab-reviews .ywar_votereview { border: 1px solid #bdbdbd; margin-left: 5px; }
#tab-reviews a.ywar_votereview:hover { text-decoration: none; border-color: #6f6f6f; }
span.review-rating-value { display: block; padding-bottom: 15px; padding-top: 15px; }
#tab-reviews .review_vote a { text-decoration: none !important; }
#reviews_header { padding-top: 20px; }
div.review_vote { text-align: right; padding-top: 10px; overflow: hidden; }
#tab-reviews a.ywar_filter_reviews { text-decoration: none; }
.wpnetbase_review_row span { height: 21px; line-height: 21px; display: block; }
.wpnetbase_perc_value { position: absolute; right: 0px; left: 0px; text-align: center; font-size: 12px; opacity: 0.6; }
.wpnetbase_review_row { padding-bottom: 10px; position: relative; }
.wpnetbase_rating_bar { float: none; overflow: hidden; }
.wpnetbase_stars_value { float: left; line-height: 15px; min-width: 80px; }
.ywar_review_count { color: #24890d; }
.wpnetbase_num_reviews { float: right; line-height: 15px; min-width: 50px; padding-left: 10px; }
#tab-reviews span.wpnetbase_stars_value a { text-decoration: none; }
span.wpnetbase_scala_rating { clear: both; position: relative }
span.wpnetbase_perc_rating { float: left; color: #000000; }
ul#uploadFileList { padding: 0; }
ul#uploadFileList li { display: inline; padding: 10px; }
span.ywar_review_helpful { font-style: italic; font-size: smaller; display: block; padding-bottom: 5px; margin-top: 12px; font-size: 12px; opacity: 0.6; }
#reviews_order { margin-bottom: 20px; border-bottom: 2px solid; border-bottom: 2px solid rgba(234, 231, 231, 0.94); }
#tab-reviews a.ywar_filter_order { text-decoration: none; color: black; margin-right: 15px; padding: 10px 30px; display: inline-block; opacity: 0.5; position: relative; top: 2px; border: none; }
#tab-reviews a.ywar_filter_order.active, #tab-reviews a.ywar_filter_order:hover { border-bottom: 2px solid rgba(169, 112, 157, 1); position: relative; opacity: 1; }
div.ywar_show_more { text-align: center; }
nav.woocommerce-pagination { text-align: center; }
#tab-reviews div.comment-text a.comment-reply-link:before { content: ''; }
#tab-reviews #reviews_dialog { display: none; }
div.reply { padding: 10px 0; float: right; }
#tab-reviews a.ywar_show_more { border: none; }
#review_form_wrapper { margin-top: 35px; }
#ywar-uploadFile { display: block; visibility: hidden; width: 0; height: 0; }
#do_uploadFile { background: #f7f6f7; background: -webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#e0dadf)); background: -webkit-linear-gradient(#f7f6f7, #e0dadf); background: -moz-linear-gradient(center top, #f7f6f7 0, #e0dadf 100%); background: -moz-gradient(center top, #f7f6f7 0, #e0dadf 100%); -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .075), inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .1); -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .075), inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .1); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .075), inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .1); text-shadow: 0 1px 0 rgba(255, 255, 255, .8); border: 1px solid #c8bfc6; -webkit-border-radius: 1px; border-radius: 1px; color: #5e5e5e !important; width: 100%; }
#submit, #do_uploadFile { font-size: 12px !important; }

/*  Prettyphoto modal window showing reviews */
#comments div.pp_woocommerce .pp_content_container { border-radius: 0; }
#comments div.pp_woocommerce .pp_close { color: #6d6c6c !important; background: none !important; width: 20px; height: 20px; opacity: 0.5; cursor: pointer; font-weight: 400; line-height: normal; font-size: 13px; font-family: 'Open Sans', sans-serif; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; text-decoration: none;    /*reset prettyphoto style*/ border-radius: 0; border: none; position: absolute; right: 15px; top: 10px; display: block; z-index: 9999; }
#comments div.pp_woocommerce .pp_close:before { top: 0; left: 0; text-align: center; text-indent: 0; content: "x"; border: 1px solid; width: 20px !important; height: 20px !important; line-height: normal; font-weight: normal; display: block; font-size: 14px; font-family: 'Open Sans', sans-serif !important; text-align: center; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; text-shadow: none; }
#comments div.pp_pic_holder.pp_woocommerce { position: fixed; left: 15% !important; right: 15% !important; top: 10% !important; overflow-y: auto; overflow-x: hidden; width: auto !important; max-width: 900px; border: 0; -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2); margin: 0 auto; max-height: 80%; }
#comments div.pp_content_container { padding: 40px 0; }
#comments div.pp_content { height: 100% !important; width: auto !important; margin-top: 20px; }
#tab-reviews a { text-decoration: none; }
#temp_review_form_wrapper { visibility: hidden; }
#commentsdiv a.comment-reply-link { display: none; }
#commentsdiv .review_vote * { display: none; }
#commentsdiv .review_vote span.ywar_review_helpful { display: inline-block; }

/*  Featured reviews */
.woocommerce #reviews #comments ol.commentlist li .comment-text.review-featured { border: 2px solid #ffa500; }
img.featured-badge { position: relative; top: -30px; left: 0px; }
.wpnetbase_perc_rating{background-color: #25bce9;}


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background-color: #08c;
}
#coupon_code{
  height: 31px;
  width: 55%;
}
.hamburger {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  display: inline-block;
  height: 24px;
  position: relative;
  top: 2px;
  width: 40px; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s; }
.hamburger--slider-r .hamburger-inner::after {
  top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0; }
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg); }


img{
  max-width: 100%;
}
#tab-description,
.textwidget{
  h2{
    clear: both;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 25px;
  }
  h3{
    clear: both;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
  }
  .panel-grid{
    margin-bottom: 0;
  }
  img{

    margin: 0 auto;
    display: block
  }
  ul{
    margin: 0 0 15px 35px;
    padding: 0;
  }
  figure{
    width: auto !important;
    &.aligncenter{
      margin: 16px auto;
      text-align: center;
      border: 1px solid #fff;
    }
    &.alignleft{
      text-align: left;
    }
    img{
      display: inline-block;
      margin: 0;
      width: auto;
    }
    .wp-caption-text{
      padding: 5px 0;
    }
  }
}
.plugin-faq{
  h2{
    margin-bottom: 10px;
  }
}