/*2. Header */
#masthead {
    .header-left {
        text-align: left;
    }
    .header-right {
        text-align: right;
    }
    .header-top {
        border-bottom: 1px solid #ededed;
        background: #f4f4f4;
        .container {
            position: relative;
            display: table;
            > div {
                display: table-cell;
                position: relative;
                vertical-align: middle;
                .pull-left,
                .pull-right {
                    margin: 12px 0;
                    font-size: 1em;
                }
            }
        }
    }
    .header-main {
        .container {
            position: relative;
            display: table;
            > div {
                display: table-cell;
                position: relative;
                vertical-align: middle;
            }
            .header-left {
                padding: 20px 0;
            }
            .header-right {
                padding: 20px 0;
                .header-contact {
                    margin: 5px 0;
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                    * {
                        color: #999;
                    }
                    i {
                        margin: 0 5px
                    }
                    .header-extra-info {
                        list-style: none;
                        margin: 0;
                        &:before,
                        &:after {
                            content: " ";
                            display: table;
                        }
                        li {
                            text-align: left;
                            float: left;
                            margin-left: 60px;
                            .feature-box {
                                .feature-box-icon {
                                    border-radius: 35px;
                                    color: #fff;
                                    display: inline-block;
                                    float: left;
                                    margin-right: 10px;
                                    height: 35px;
                                    position: relative;
                                    text-align: center;
                                    top: 5px;
                                    width: 35px;
                                    background-color: #08c;
                                    border: 1px solid #08c;
                                    background: transparent;
                                    line-height: 32px;
                                }
                                .feature-box-info {
                                    padding-left: 50px;
                                }
                            }
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .logo {
            margin: 0;
            padding: 0;
            min-width: 100px;
            img {
                display: inline-block;
                color: transparent;
                max-width: 100%;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -ms-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
            }
        }
        .logo-transition {
            img {
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }
        }
    }
    .main-menu-wrap {
        background-color: #08c;
        padding: 8px 0px 8px 0px;
        #main-menu {
            display: table;
            position: relative;
            .mega-menu {
                margin: 0;
                padding: 0;
                list-style: none;
                background-color: transparent;
                &:before,
                &:after {
                    content: " ";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                li.menu-item {
                    display: block;
                    position: relative;
                    margin: 0;
                }
                > li.menu-item {
                    float: left;
                    margin-right: 2px;

                    &.menu-item-has-children {
                        position: relative;
                    }
                    > a {
                        display: inline-block;
                        padding: 11px 13px 9px 13px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 1em;
                        font-weight: 700;
                        line-height: 20px;
                        color: #fff;

                    }
                    &.active {
                        > a {
                            background: #fff;
                            color: #08c;
                        }

                    }
                    &:hover {
                        a {
                            background: #fff;
                            color: #08c;
                        }

                    }


                }
                > .menu-item-has-children {
                    > a {
                        &:after {
                            display: inline-block;
                            content: "\f0d7";
                            font-family: "FontAwesome";
                            font-weight: normal;
                            font-size: 0.8333em;
                            margin: 0 0 0 5px;
                            line-height: 1;
                        }
                    }

                    .sub-menu {
                      display: none;
                      margin: 0;
                      min-width: 180px;
                      padding: 5px;
                      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                      border-top: 0 solid #ccc;
                      z-index: 10;
                      position: absolute;
                      top: -2000px;
                      background-color: #fff;
                      -webkit-transition: transform 0.2s ease-out;
                      -moz-transition: transform 0.2s ease-out;
                      transition: transform 0.2s ease-out;
                      -webkit-transform: translate3d(0, -5px, 0);
                      -moz-transform: translate3d(0, -5px, 0);
                      -ms-transform: translate3d(0, -5px, 0);
                      -o-transform: translate3d(0, -5px, 0);
                      transform: translate3d(0, -5px, 0);
                      li{
                        a{
                          display: block;

                          border-bottom: 1px solid #f2f2f2;
                          color: #777;


                          font-weight: 400;
                          padding: 8px;
                          font-size: 1.02em;
                          line-height: 18px;
                          white-space: nowrap;
                          webkit-transition: transform 0.2s ease-out;
                          -moz-transition: transform 0.2s ease-out;
                          transition: transform 0.2s ease-out;
                          -webkit-transform: translate3d(0, -5px, 0);
                          -moz-transform: translate3d(0, -5px, 0);
                          -ms-transform: translate3d(0, -5px, 0);
                          -o-transform: translate3d(0, -5px, 0);
                          transform: translate3d(0, -5px, 0);
                          &:hover {
                            color: #777;
                            background-color: #f4f4f4;
                            text-decoration: none;
                          }


                        }
                        &:last-child {
                          a{
                            border-bottom: 0;
                          }

                        }
                      }
                    }
                  &:hover {
                    .sub-menu{
                      display: block;
                      top: 100%;
                      -webkit-transform: translate3d(0, 0, 0);
                      -moz-transform: translate3d(0, 0, 0);
                      -ms-transform: translate3d(0, 0, 0);
                      -o-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
                      li {
                        a{
                          -webkit-transform: translate3d(0, 0, 0);
                          -moz-transform: translate3d(0, 0, 0);
                          -ms-transform: translate3d(0, 0, 0);
                          -o-transform: translate3d(0, 0, 0);
                          transform: translate3d(0, 0, 0);
                        }
                      }

                    }
                  }
                  .menu-item {

                  }

                }


            }
        }
        .menu-left,
        .menu-right,
        .menu-center {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

@media (min-width:1200px){
  .container{
    width: 1100px;
  }
}
/* End: Header */