.pagination{
  margin-top: 25px;
  ul{
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0 0 0 10px;
    clear: both;
    list-style: none;
    li{
      float: left;
      margin-left: 5px;
      display: inline;
      padding: 0;
      a,
      span{
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        margin: 0 0 5px;
        padding: 0 0.5em;
        line-height: 27px;
        min-width: 32px;
        height: 30px;
        text-decoration: none;
        text-align: center;
      }
      span.current,
      a:hover,
      span:hover{
        background-color: #08c;
        border-color: #08c;
        color: #fff;
      }
    }
  }
  &.pagination-center{
    text-align: center;
    ul{
      margin: 0 auto;
    }
  }
}