.product-list{
  margin: 0 -7px;
  padding: 0;
  list-style: none;
  &:not(.widget-product-lists){
    li{
      margin-bottom: 30px;
    }
  }
  li{
    position: relative;
    float: left;
    width: 25%;
    padding: 0 7px;
    text-align: center;

    .product-image{
      display: block;
      position: relative;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 7px;
      width: 100%;
      padding: 0.2381em;
      margin-bottom: 1em;
      .labels {
        line-height: 1;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        %label{
          position: absolute;
          z-index: 1;
          top: 0.8em;
          border-radius: 4px;
          font-size: 0.8571em;
          padding: 0.5833em 0.6333em;
        }
        .onhot {
          @extend %label;
          background: #62b959;
          color: #fff;
          left: 0.8em;
        }
        .onsale{
          @extend %label;
          background: #e27c7c;
          color: #fff;
          right: 0.8em;
        }
      }
      img {
        border-radius: 5px;
        display: inline-block;
        width: 100%;
        height: auto;

      }
      &:before{
        content: '';
        position: absolute;
        top: 0.2381em;
        left: 0.2381em;
        right: 0.2381em;
        bottom: 0.2381em;
        z-index: 2;
        background: rgba(0,0,0,.15);
        -webkit-transition: all .3s;
        -khtml-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;

      }

    }
    .product-loop-title {
      color: #777;
      font-size: 1em;
      text-decoration: none;
      h3{
        font-family: Open Sans;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.35;
        margin-bottom: 0.7143em;
      }
    }
    .rating-wrap {
      margin: 0 auto 1.2em;
      height: 1px;
      position: relative;
      display: table;
      .rating-before,
      .rating-after{
        display: table-cell;
        width: 50%;
        height: 1px;
        vertical-align: middle;
        .rating-line {
          background-image: - webkit-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
          display: block;
          height: 1px;
          width: 100%;
          margin-top: 1px;
        }
      }
      .rating-after{
        .rating-line{
          background-image: - webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);
        }
      }
      .rating-content {
        display: table-cell;
      }
      .star-rating {
        cursor: pointer;
        float: none;
        position: relative;
        font-family: 'FontAwesome';
        font-size: 1em;
        height: 1em;
        line-height: 1em;
        overflow: hidden;
        position: relative;
        width: 5.5em;
        letter-spacing: 0.1em;
        text-align: left;
        span {
          float: left;
          left: 0;
          overflow: hidden;
          padding-top: 1.5em;
          position: absolute;
          top: 0;
          &:before {
            color: #ffc600;
            content: "\f005" "\f005" "\f005" "\f005" "\f005";
            left: 3px;
            position: absolute;
            top: 0;
          }
        }
        .star-rating,
        .star-rating span {
          width: 6.7em;
          margin-right: -2px;
        }
        &:before {
          color: #ddd;
          color: rgba(0, 0, 0, 0.13);
          content: "\f005" "\f005" "\f005" "\f005" "\f005";
          float: left;
          left: 3px;
          position: absolute;
          top: 0;
        }

      }
    }
    .price {
      display: block;
      font-size: 20px;
      margin-top: -0.25em;
      margin-bottom: 0.75em;
    }
    .add-links-wrap{
      .add-links{
        display: inline-block;
        position: relative;
        font-size: 0.95em;
        margin-bottom: 5px;
        .add_to_cart_button,
        .yith-wcwl-add-to-wishlist a,
        .yith-wcwl-add-to-wishlist span,
        .quickview {
          position: relative;
          display: inline-block;
          cursor: pointer;
          font-size: inherit;
          height: 2.2em;
          line-height: 2.2em;
          text-decoration: none;
          text-align: center;
          vertical-align: top;
          border-radius: 3px !important;
          text-shadow: none;
          -webkit-transition: all 0.25s ease 0s;
          -moz-transition: all 0.25s ease 0s;
          transition: all 0.25s ease 0s;
          &:before {
            display: inline-block;
            font-family: "FontAwesome";
          }
        }
        .add_to_cart_button {
          background: transparent;
          border-radius: 5px;
          padding: 0 0.7143em;
          line-height: 2.0571em;
          z-index: 1;
          border: 1px solid #ccc;
          color: #333;
          white-space: nowrap;
          text-shadow: none;
          &:before{
            content: "\f07a";
            margin-right: 0.5714em;
          }
          span{
            font-weight: 300;
          }

        }
      }
    }
    &:hover{
      .add_to_cart_button{
        background-color: #08c !important;
        border-color: #08c !important;
        color: #fff !important;
      }
      .product-image{
          &:before{
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
            -webkit-opacity: 1;
            -khtml-opacity: 1;
            -moz-opacity: 1;
            -ms-opacity: 1;
            -o-opacity: 1;
            opacity: 1;
          }
      }


    }
  }
  &:after {
       display: block;
       content: "";
       clear: both;
  }

}