@media screen and (min-width: 992px) {
  .mobi-menu {
    display: none;
  }

}
@media screen and (max-width: 991px) {
    .container{
      width: 95%;
    }
    #masthead{
      .header-main{
        .container{
          > div{
            display: inherit;
            float: left;
          }
          .header-left{
            width: 30%;
          }
          .header-right{
            width: 70%;
            .header-contact{
              .header-extra-info{
                li {
                  margin-left: 0;
                  &:last-child{
                    display: none;
                  }
                }
              }
            }


          }
        }
      }

      .main-menu-wrap{
        #main-menu{
          .mega-menu{
            display: none;
            li{
              float: none !important;

              a{
                display: block !important;
              }
            }
            > li{
              border-bottom: 1px solid #ccc;
              &:last-child{
                border-bottom: 0;
              }

            }
            > .menu-item-has-children:hover{
              .sub-menu{
                position: static !important;
              }
            }

          }
        }
      }

    }

  .col-md-9,
  .col-md-3{
    -moz-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product-desc {
    height: 85px;
    overflow: hidden;
  }


}

@media screen and (max-width: 865px) {
  .product-list:not(.widget-product-lists){
    li{
      width: 33.33%;
    }

  }
  .wads{
    img{
      height: auto;
    }
  }
}
@media screen and (max-width: 870px) {
  .wads img {
    display: block;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 835px) {
  .woocommerce{
    .bh-single-detail{
      margin-bottom: 0;
      .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
        .entry-summary{
          padding-top: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 777px) {
  #etalage {
    overflow: hidden;
    height: 481px !important;
  }
}
@media screen and (max-width: 767px) {
  .menu-footer {
    padding-left: 15px;
  }
  .info-footer{
    padding-left: 0;
  }
  .menu-footer {
    padding-left: 0;
  }
  #footer{
    #top-footer{
      .col-md-4{
        padding: 0 15px;
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .blog{
    .blog-posts{
      article{
        .col-md-4{
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #masthead{
    .header-main{
      .container{
        .header-left,
        .header-right{
          width: 100%;
          text-align: center;
        }

      }
    }

  }

}
@media screen and (max-width: 570px) {
  .product-list:not(.widget-product-lists){
    li{
      width: 50%;
    }

  }
}
@media screen and (max-width: 430px) {
  #etalage{
    width: 100% !important;
  }


}
@media screen and (max-width: 400px) {
  .product-list:not(.widget-product-lists){
    li{
      float: none;
      width: 100%;
    }

  }
}