.woocommerce{
  h1.product_title{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #21293c;
    margin: 0 0 15px;
    line-height: 1;
  }
  .description{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 25px;
    border-bottom: solid 1px #dae2e6;
    padding: 5px 0 20px;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .woocommerce-product-rating{
    margin-bottom: 1px !important;
    .star-rating {
      margin-top: 5px;
    }
    .woocommerce-review-link{
      line-height: 20px;
      font-size: 14px;
      color: #bdbdbd;
      position: relative;
      top: -1px;
    }
  }
  .price{
    margin: 20px 0 20px;
    span{
      font-size: 21px;
      font-weight: 700;
    }
    del{

      span{
        display: inline-block;
        color: #a7a7a7;
        font-size: 16px;
        margin-right: 0.2143em;
        vertical-align: baseline;
        text-decoration: line-through;
      }

    }
    ins{
      text-decoration: none;
    }
  }
  div.product{
    .woocommerce-tabs{
      ul.tabs{
        position: relative;
        bottom: -1px;
        padding: 0 !important;
        margin: 0 !important;
        &:before{
          display: none !important;
        }
        li{
          padding: 0;
          margin: 0;
          border: none !important;
          background: none !important;
          border-right: 0 !important;
          border-radius: 0 !important;
          a{
            position: relative;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 0 9px;
            margin-right: 37px;
            color: #818692;
            text-transform: uppercase;
          }
          &:before,
          &:after{
            display: none;
          }
          &.active{
            color: #21293c;
            position: relative;
            a{
              &:after{
                content: '';
                position: absolute;
                height: 2px;
                background-color: #0088cc;
                left: 0;
                right: 0;
                bottom: 0;
              }
            }
          }
        }
        &:after{
          clear: both;
          content: "";
          display: table;
        }
      }
      .wc-tab{
        border: none;
        border-top: solid 1px #dae2e6;
        box-shadow: none;
        padding: 18px 0 !important;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.005em;
        line-height: 25px;
        margin: 0;
        > p:last-child{
          margin-bottom: 0;
        }

      }
    }
    form.cart{
      .button {
        float: none;
        height: 42px;
        margin-left: 8px;
        padding: 0 2.1429em;
        text-shadow: none;
        border-radius: 0;
        color: #fff;
        background-color: #08c;
        border-color: #08c;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
        &:before {
          display: inline-block;
          content: "\f07a";
          font-family: "FontAwesome";
          margin-right: 0.7143em;
        }
        &:hover,
        &:focus{
          border-color: #0077b3;
          background-color: #0077b3;
        }
      }

    }
  }
  .qty-holder {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 104px;
    position: relative;
    text-align: center;
    .qty {
      display: inline-block;
      vertical-align: middle;
      height: 43px;
      width: 44px!important;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #21293c;
      margin: 0;
      border-color: #dae2e6;
    }
    .qty-changer {
      display: block;
      a {
        position: absolute;
        top: 0;
        width: 30px;
        height: 43px;
        border: solid 1px #dae2e6;
        line-height: 41px;
        font-size: 11px;
        color: #8798a2;
        &.qty_inc {
          left: 1px;
        }
        &.qty_dec {
          right: 1px;
        }
      }
    }
  }
  %heading-single{
    margin: 0 0 23px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  #reviews_summary{
    margin-bottom: 13px;

    h3{
      @extend %heading-single;
    }
  }
  #reviews{
    h2.woocommerce-Reviews-title{
      @extend %heading-single;
    }
  }
  #review_form_wrapper{
    h3#reply-title{
      @extend %heading-single;
    }
    #commentform{
      label {
        display: block;
        font-size: 14px;
        position: relative;
        z-index: 0;
        margin: 0;
        margin-bottom: 1px;

        vertical-align: middle;
        color: #777;
        span {
          font-style: normal;
          color: #eb340a;
        }
      }
      input{
          width: 100%;
          height: 38px;
          padding: 10px;
          border-radius: 6px;
          box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
          background-color: #fff;
        border-radius: 0;

      }
      .comment-form-rating{
        margin: 0;
        p{
          margin: 0;
        }
      }
      .form-submit{
        #submit{
          float: right;
          background-color: #0088cc;
          width: auto;
          border: 0;
          padding: 0 15px;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          white-space: nowrap;
          color: #fff;
          line-height: 38px;
        }
      }
    }

  }
  #etalage{
    .etalage_thumb:not(.etalage_small_thumbs),
    .etalage_small_thumbs:not(.etalage_small_thumbs){
      box-shadow: inherit;
      padding: 0;
      border-radius: 2px;
      border: 1px solid #dae2e6;
      background: #fff;
      max-width: 100%;
    }
    .etalage_small_thumbs{
      margin-top: 8px;
      ul{
        > li{
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border: solid 1px #dae2e6;
          }
        }
      }
      .etalage_smallthumb_active {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border: solid 1px #0088cc;
        }
      }
    }

  }
  .summary{
      float: none !important;
      width: 100% !important;
  }
  .bh-single-detail{
    margin-bottom: 40px;
  }
  .product_meta{
    > span{
      display: block;
      margin-bottom: 6px;
    }
  }


}



