.widget {
  &.widget_category{
    margin-bottom: 25px !important;
  }
  .widget-wrap{
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  h3.widget-title{
    margin: 0;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 18px;
    padding: 11px 15px 12px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    font-weight: 700;
    &.no-box{
      background: transparent;
      border-bottom: 0;
      padding-left: 0;
      line-height: 1.4;
      font-weight: 700;
      color: #313131;
      text-transform: uppercase;
      padding: 0;
    }
  }
  .product-categories{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fbfbfb;
    li{

      line-height: 40px !important;
      border-top: 0;
      border-bottom: 1px solid #f1f1f1;
      a{
        position: relative;
        display: block;
        color: #444;
        font-size: 1.05em;
        font-weight: 300;
        padding-left: 15px;
        padding-right: 5px;
        text-transform: capitalize;
        &:hover{
          color: #08c;
          text-decoration: none;
        }

      }
      .bh-minus-menu{
        padding: 10px 15px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 999;
      }
      .sub-menu{
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          border-top: 0;
          &:last-child{
            border-bottom: 0;
          }
          a {
            padding-left: 25px;
          }

        }
      }

    }
    .open{
      > a{
        color: #08c;
      }
      .bh-minus-menu:before{
        content: "\f068";
      }

    }
  }
  .bh-widget-heading{
    .heading__primary{
      i{
        margin-right: 5px;
      }
      .line{

      }
      a{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
      }
    }
  }

  .bh-widget-posts{
    ul{
      margin: 3px 0 0 0;
      padding: 0;
      list-style: none;
      li{
        padding: 9px 0;
        border-bottom: 1px solid #f2f2f2;
        line-height: 18px;
        overflow: hidden;
        .post-thumbnail {
          float: left;
          margin-right: 10px;
          position: relative;
          line-height: 0;
          opacity: 1;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          a{
            display: block;
            background: #000;
            font-size: 0;
            img{
              height: auto;
              max-width: 100%;
              width: 100%;
              opacity: 1;
              -webkit-transition: all .4s ease-in-out;
              -moz-transition: all .4s ease-in-out;
              -o-transition: all .4s ease-in-out;
              transition: all .4s ease-in-out;
            }
          }
          .overlay-icon{
            &:before {
              content: '\f15c';
              color: #FFF;
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              border: 3px solid #FFF;
              border-radius: 100%;
              width: 40px;
              height: 40px;
              text-align: center;
              font-size: 18px;
              line-height: 35px;
              margin: -20px 0 0 -20px;
              opacity: 0;
              -webkit-backface-visibility: hidden;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              -ms-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
            }
          }
          &:hover{
            .overlay-icon{
              &:before{
                opacity: 1;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
              }
            }
            img {
              opacity: 0.3!important;
            }

          }
        }
        h3{
          font-size: inherit;
          line-height: 19px;
          a{
            color: #777;
            text-decoration: none;
            &:hover{
              color: #08c;
            }
          }
        }
        span.tie-date,
        span.post-comments-widget{
          color: #AAA;
          margin: 4px 0 0;
          font-size: 80%;
          display: inline-block;
          i{
            margin-right: 5px;
          }
          a{
            color: #777;
            text-decoration: none;
          }
        }
        span.tie-date{
          margin-right: 10px;
        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
  .widget_products-sidebar{
    margin-bottom: 16px !important;
  }
  .bh-widget-products-sidebar{
    .product-list{
      margin-top: 3px;
      li{
        float: none;
        width: 100%;
        text-align: left;
        padding: 9px 0;
        border-bottom: 1px solid #f2f2f2;
        .product-image{
          float: left;
          width: 30%;
          margin-bottom: 0;
          margin-right: 10px;
        }
        .rating-line,
        .rating-before,
        .rating-after,
        .add-links-wrap{
          display: none;
        }
        .rating-wrap{
          display: block;
        }
        &:last-child{
          border-bottom: 0;
        }
        .price{
          color: #444;
          margin-top: 0px !important;
          padding-top: 6px;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }

  }
  .widget-product-lists{
    .price{
      span{
        font-size: 15px;
        color: #444;
      }
    }
  }
}

.custom-block{
  margin-bottom: 30px;
  > div{
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
    i {
      float: left;
      width: 50px;
      height: 50px;
      line-height: 48px;
      border-radius: 50%;
      text-align: center;
      margin-right: 10px;
      color: #0088cc;
      border: none;
      font-size: 40px;

    }
    h3{
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #6b7a83;
      margin-left: 80px;
    }
  }
}

#bh-sidebar-single{
  .widget{
    margin-bottom: 15px;
  }
}